* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: indigo;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}