* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: indigo;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

body.activated .form {
    display: none;
}

button {
    cursor: pointer;
}

label span {
    display: block;
    margin: 1rem 0 .3rem 0;
}

button, input {
    font-size: 1rem;
    background-color: white;
    border: none;
    padding: 1rem;
    border-radius: 99999px;
}

button:focus, input:focus {
    outline: none;
}

.success {
    display: none;
    margin-top: -20rem;
}

.success h1, .success h2 {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    pointer-events: none;
}

.success h1 {
    top: 25%;
    font-size: 5rem;
}

iframe {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

body.activated .success {
    display: block;
}