* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: indigo;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

body.activated .form {
    display: none;
}

button {
    cursor: pointer;
}

label span {
    display: block;
    margin: 1rem 0 .3rem 0;
}

button, input {
    font-size: 1rem;
    background-color: white;
    border: none;
    padding: 1rem;
    border-radius: 99999px;
}

button:focus, input:focus {
    outline: none;
}

.success {
    display: none;
}

body.activated .success {
    display: block;
}